// fonts

$base-font: 'Source Sans Pro', sans-serif;
$styled-font: 'Lobster', cursive;

// colors

$color1: #222831;
$color2: #393e46;
$color3: #00adb5;
$color4: #eeeeee;

// gutters

$gutter-small: 0.5em;
$gutter-base: 1em;
$gutter-large: 3em;

// font sizes

$font-base-size: 1em;
$font-large-size: 1.5em;
$font-small-size: 0.8em;

// shadows

$link-shadow: #00adb5 3px 0 30px;